@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Palette+Mosaic&display=swap');

* {margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
    --gradient: linear-gradient(45deg, #937DFA, #D67AA7, #ED710C, #D6C200, #91FA97);
}

                                 /***** GENERAL STYLING *******/

body {background-color: #D2D948;
      font-family: 'Pacifico', cursive;
      text-align: center;
}

h1 {font-size: 400%;
    font-family: 'Palette Mosaic', cursive;
    color: #f7906e;
    text-transform: uppercase;
}

h2 {font-size: 150%;
    text-transform: uppercase;
}

                                 /********* PAGE TITLE *********/

#head-title {max-width: 50%;
             margin: auto;
             margin-top: 10px;
             padding: 10px;
}

                                 /******** DECISION BUTTONS *******/

#btn-box {max-width: 50%;
          min-height: 100px;
          display: flex;
          justify-content: center;
          margin: 10px auto;
          /* background-color: #f7906e; */
}

.btn {width: 90px;
      height: 50px;
      border: none;
      border-radius: 10px;
      box-shadow: 2px 2px 3px;
      display: inline-block;
      margin: auto;
      padding: 10px;
      background-color: #00cfff;
      font-family: inherit;
      color: #484738;
      transition: background-color 0.5s ease-out;
}

.btn:hover, .btn:focus {background-color: #f7906e;
            cursor: pointer;
            box-shadow: 2px 2px 8px;
            position: relative;
            bottom: 1px;
            right: 1px;
}

                        /******************* GAME AREA *******************/

#game-area {width: 60%;
            height: 500px;
            margin: 20px auto;
            background-image: var(--gradient);
            background-size: 400%;
            position: relative;
            display: flex;
            border-radius: 20px;
            animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

#player-area {height: 350px;
              width: 350px;
              float: left;
              margin: 75px 30px 75px 50px;
              border-radius: 10px;
              overflow: hidden;
              position: relative;
              background-color: #00cfff;
}

#player-area > img {height: 100%;
                    width: 100%;
}

#result {min-height: 100px;
         max-width: 33%;
         /* font-size: 150%; */
         margin:auto;
         text-shadow: 2px 2px 2px black;
         /* background-color: #00cfff; */
}

#ai-area {height: 350px;
   width: 350px;
   float: right;
   margin: 75px 50px 75px 30px;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
   background-color: #f7906e;
}

#ai-area > img {height: 100%;
         width: 100%;
}

                        /****************** SCORE AREA ******************/

#score-area {max-width: 50%;
             min-height: 100px;
             display: flex;
             justify-content: center;
             /* background-color: firebrick; */
             margin: auto;
}

#streak {margin: auto;
         color: #484738;
}