@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Palette+Mosaic&display=swap');

* {margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
    --gradient: linear-gradient(45deg, #937DFA, #D67AA7, #f98699, #ff9986, #ffb573, #ffd669, #D6C200, #91FA97);
}

                                 /***** GENERAL STYLING *******/

body {background-color: #D2D948;
      font-family: 'Pacifico', cursive;
      text-align: center;
}

h1 {font-size: 400%;
    font-family: 'Palette Mosaic', cursive;
    color: #f7906e;
    text-transform: uppercase;
}

h2 {font-size: 150%;
    text-transform: uppercase;
}

                                 /********* PAGE TITLE *********/

#head-title {max-width: 50%;
             margin: auto;
             margin-top: 10px;
             padding: 10px;
}

                                 /******** DECISION BUTTONS *******/

#btn-box {max-width: 50%;
          min-height: 100px;
          display: flex;
          justify-content: center;
          margin: 10px auto;
          /* background-color: #f7906e; */
}

.btn {width: 90px;
      height: 50px;
      border: none;
      border-radius: 10px;
      box-shadow: 2px 2px 3px;
      display: inline-block;
      margin: auto;
      padding: 10px;
      background-color: #00cfff;
      font-family: inherit;
      color: #484738;
      transition: background-color 0.5s ease-out;
}

.btn:hover, .btn:focus {background-color: #f7906e;
            cursor: pointer;
            box-shadow: 2px 2px 8px;
            position: relative;
            bottom: 1px;
            right: 1px;
}

                        /******************* GAME AREA *******************/

#game-area {width: 65%;
            height: 500px;
            margin: 20px auto;
            background-image: var(--gradient);
            background-size: 400%;
            position: relative;
            display: flex;
            border-radius: 20px;
            animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

#player-area {height: 350px;
              width: 350px;
              float: left;
              margin: 75px 30px 75px 50px;
              border-radius: 10px;
              overflow: hidden;
              position: relative;
              background-color: #00cfff;
}

#player-area > img {height: 100%;
                    width: 100%;
}

#result {min-height: 100px;
         max-width: 33%;
         /* font-size: 150%; */
         margin:auto;
         text-shadow: 2px 2px 2px black;
         /* background-color: #00cfff; */
}

#ai-area {height: 350px;
   width: 350px;
   float: right;
   margin: 75px 50px 75px 30px;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
   background-color: #f7906e;
}

#ai-area > img {height: 100%;
         width: 100%;
}

                        /****************** SCORE AREA ******************/

#score-area {max-width: 50%;
             min-height: 100px;
             display: flex;
             justify-content: center;
             /* background-color: firebrick; */
             margin: auto;
}

#streak {margin: auto;
         color: #484738;
}


                                        /*********** MEDIA QUERY **********/

@media screen and (max-width: 1500px) {
    #game-area {width: 70%;}
}

@media screen and (max-width: 1350px) {
    #game-area {width: 75%;}
}

@media screen and (max-width: 1220px) {
    #game-area {width: 80%;}

    #player-area {width: 320px;
                  height: 320px;
                  margin-top: 90px;
}

    #ai-area {width: 320px;
              height: 320px;
              margin-top: 90px;
    }
}

@media screen and (max-width: 1100px) {
    #game-area {width: 90%;}
}

@media screen and (max-width: 950px) {
    #game-area {width: 95%;}

    #player-area {width: 290px;
                  height: 300px;
                  margin-top: 100px;
                  margin-left: 30px;
    }

    #ai-area {width: 290px;
        height: 300px;
        margin-top: 100px;
        margin-right: 30px;
}
}

@media screen and (max-width: 800px) {

    #player-area {width: 280px;
                  height: 280px;
                  margin-top: 110px;
}

    #ai-area {width: 280px;
              height: 280px;
              margin-top: 110px;
}
}

@media screen and (max-width: 680px) {
    #btn-box {max-width: 80%;
    }
}

@media screen and (max-width: 500px) {
    h1 {font-size: 300%;}

    #btn-box {max-width: 80%;
}
    #game-area {width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
} 
    #player-area {width: 300px;
                  height: 300px;
                  margin: auto;
                  margin-top: 20px;

    }

    #result {min-height: 100px;
        max-width: 33%;
        margin: 0 auto;
        /* background-color: #00cfff; */
}

    #ai-area {width: 300px;
        height: 300px;
        margin: auto;
        margin-bottom: 20px;

}
}